 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1689px;
}

.u-section-1 .u-text-1 {
  font-size: 10.625rem;
  line-height: 1;
  background-position: 50% 0vh;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: rotate(0deg);
  margin: 156px 203px 0 0;
}

.u-section-1 .u-image-1 {
  width: 116px;
  height: 116px;
  margin: -228px 37px 0 auto;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 3.75rem;
  margin: 142px 372px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.25rem;
  margin: 9px 403px 0 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 940px;
  height: 834px;
  margin: -94px -108px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 799px;
  height: 649px;
  object-position: 50% 57.73%;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(15deg);
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 165px;
  margin: -834px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 248px;
  height: 288px;
  margin: -50px auto 0 208px;
}

.u-section-1 .u-image-5 {
  width: 201px;
  height: 203px;
  margin: -188px auto 0 -100px;
}

.u-section-1 .u-image-6 {
  width: 158px;
  height: 160px;
  margin: 243px auto 60px 167px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
    width: auto;
    margin-top: 200px;
    margin-right: 3px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -153px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 75px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 203px;
  }

  .u-section-1 .u-image-2 {
    width: 668px;
    height: 602px;
    margin: 16px 1px 0 auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -764px;
    margin-right: -36px;
  }

  .u-section-1 .u-image-4 {
    width: 315px;
    height: 245px;
    margin-top: 45px;
    margin-left: 124px;
  }

  .u-section-1 .u-image-5 {
    width: 164px;
    height: 161px;
    margin-top: -20px;
    margin-left: -16px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 26px;
    margin-bottom: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1375px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 184px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -203px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 111px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 639px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 589px;
    height: 570px;
    margin-top: 48px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -668px;
    margin-right: -13px;
  }

  .u-section-1 .u-image-4 {
    width: 264px;
    height: 205px;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 161px;
    height: 162px;
    margin-top: 59px;
    margin-left: -30px;
  }

  .u-section-1 .u-image-6 {
    width: 117px;
    height: 118px;
    margin-top: 38px;
    margin-bottom: 60px;
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 203px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -122px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 479px;
  }

  .u-section-1 .u-image-2 {
    width: 451px;
    height: 482px;
    margin-top: 29px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-3 {
    width: 121px;
    height: 144px;
    margin-top: -584px;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 206px;
    height: 160px;
    margin-top: 25px;
  }

  .u-section-1 .u-image-5 {
    width: 129px;
    height: 129px;
    margin-top: 41px;
  }

  .u-section-1 .u-image-6 {
    width: 89px;
    height: 89px;
    margin-top: 11px;
    margin-left: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 90px;
    height: 91px;
    margin-top: -222px;
    margin-right: -70px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 147px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 347px;
    height: 343px;
    margin-top: 23px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-1 .u-image-2 {
    height: 279px;
    width: 284px;
    margin-top: 73px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 82px;
    height: 62px;
    margin-top: -499px;
  }

  .u-section-1 .u-image-4 {
    width: 126px;
    height: 172px;
    margin-top: 94px;
  }

  .u-section-1 .u-image-5 {
    width: 78px;
    height: 59px;
    margin-top: -41px;
    margin-left: -31px;
  }

  .u-section-1 .u-image-6 {
    width: 77px;
    height: 77px;
    margin-top: -9px;
    margin-left: 84px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 749px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 749px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 88px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px 42px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 749px;
  background-image: url("images/fondoempanada.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 170px;
  height: 170px;
  margin: -183px auto 12px 0;
}

.u-section-2 .u-image-2 {
  width: 135px;
  height: 136px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(17.45deg);
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 742px;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 125px;
    height: 112px;
    margin-top: -132px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 104px;
    height: 85px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 569px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 568px;
  }

  .u-section-2 .u-rotation-parent-1 {
    height: 113px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 758px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 162px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 420px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 726px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 2px;
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 421px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 433px;
}

.u-section-3 .u-text-1 {
  width: 811px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
  margin: 30px auto 60px;
  padding: 19px 59px 20px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: -125px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1388px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 634px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 12px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 0 18px;
}

.u-section-4 .u-image-1 {
  width: 325px;
  height: 341px;
  margin: 35px auto 0;
}

.u-section-4 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -350px 0 0 auto;
}

.u-section-4 .u-image-2 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-2 {
  margin: 257px 55px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 30px;
}

.u-section-4 .u-image-3 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-2 {
  animation-timing-function: ease;
  width: 124px;
  height: 116px;
  margin: -58px 0 0 auto;
}

.u-section-4 .u-image-4 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334.18deg);
}

.u-section-4 .u-text-4 {
  margin: -24px 67px 0 12px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 634px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 12px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 18px;
}

.u-section-4 .u-image-5 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-3 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -350px 0 0 auto;
}

.u-section-4 .u-image-6 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-6 {
  margin: 257px 55px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 585px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 12px;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  margin: 0 18px;
}

.u-section-4 .u-image-7 {
  width: 325px;
  height: 341px;
  object-position: 91.97% 50%;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-4 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -386px 0 0 auto;
}

.u-section-4 .u-image-8 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-8 {
  margin: 293px 55px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 585px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.875rem;
  margin: 0 30px;
}

.u-section-4 .u-image-9 {
  width: 325px;
  height: 341px;
  margin: 34px auto 0;
}

.u-section-4 .u-rotation-parent-5 {
  animation-timing-function: ease;
  width: 124px;
  height: 116px;
  margin: -58px 0 0 auto;
}

.u-section-4 .u-image-10 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(334.18deg);
}

.u-section-4 .u-text-10 {
  margin: -24px 67px 0 12px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 621px;
}

.u-section-4 .u-container-layout-6 {
  padding: 14px 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.875rem;
  margin: -5px 30px 0;
}

.u-section-4 .u-image-11 {
  width: 346px;
  height: 362px;
  margin: 50px auto 0;
}

.u-section-4 .u-rotation-parent-6 {
  animation-timing-function: ease;
  width: 126px;
  height: 127px;
  margin: -423px 12px 0 auto;
}

.u-section-4 .u-image-12 {
  width: 98px;
  height: 82px;
  transform-origin: center center;
  transform: translateX(-50%) translateY(-50%) rotate(311.64deg);
}

.u-section-4 .u-text-12 {
  margin: 293px 67px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 77px;
    margin-bottom: -57px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -335px;
  }

  .u-section-4 .u-image-2 {
    width: 97px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 238px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -75px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 545px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-3 {
    margin-top: -325px;
  }

  .u-section-4 .u-image-6 {
    width: 97px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    height: 236px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-4 {
    margin-top: -334px;
  }

  .u-section-4 .u-image-8 {
    width: 97px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -83px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: -3px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 582px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 98px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-11 {
    height: 290px;
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -324px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-12 {
    width: 97px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 227px;
    margin-right: 12px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 76px;
    margin-bottom: -417px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 212px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -219px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 108px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-3 {
    height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -92px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-5 {
    height: 130px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-3 {
    margin-top: -212px;
    margin-right: 20px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 519px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-7 {
    height: 130px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-4 {
    margin-top: -257px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 519px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-image-9 {
    height: 212px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -58px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -8px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 519px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.25rem;
    margin-top: 1px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-4 .u-image-11 {
    height: 212px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -257px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 180px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3632px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -416px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 585px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 324px;
    width: 324px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -383px;
    margin-right: 34px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 279px;
    margin-right: 146px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 610px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-3 {
    width: 227px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -83px;
    margin-right: 18px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-5 {
    width: 203px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-3 {
    margin-top: -353px;
    margin-right: 19px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 579px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-7 {
    width: 203px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-4 {
    margin-top: -335px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 609px;
  }

  .u-section-4 .u-container-layout-5 {
    padding: 0 10px;
  }

  .u-section-4 .u-text-9 {
    font-size: 2.25rem;
    margin-top: 30px;
    margin-right: 114px;
  }

  .u-section-4 .u-image-9 {
    height: 324px;
    width: 324px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -416px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 331px;
    margin-right: 105px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 551px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-11 {
    height: 324px;
    width: 324px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -344px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 247px;
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3120px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 74px;
    margin-bottom: 29px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 8px;
  }

  .u-section-4 .u-image-1 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -372px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 275px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -87px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 399px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-rotation-parent-3 {
    margin-top: -349px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 492px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-rotation-parent-4 {
    margin-top: -331px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 586px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1.5rem;
    margin-right: 50px;
  }

  .u-section-4 .u-image-9 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-5 {
    margin-top: -87px;
    margin-right: 11px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 603px;
  }

  .u-section-4 .u-text-11 {
    font-size: 1.5rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-4 .u-image-11 {
    height: 320px;
    width: 320px;
  }

  .u-section-4 .u-rotation-parent-6 {
    margin-top: -340px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1234px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 70px auto 0;
}

.u-section-5 .u-text-2 {
  width: 373px;
  margin: 21px auto 0;
}

.u-section-5 .u-image-1 {
  width: 199px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 51px 0 10px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 289px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 183px;
  height: 55px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-image-3 {
  min-height: 571px;
  background-image: url("images/cofee.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  min-height: 571px;
  background-image: url("images/high-angle-friends-eating-pizza.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 289px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 183px;
  height: 55px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 289px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 183px;
  height: 55px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-image-7 {
  min-height: 571px;
  background-image: url("images/d.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 238px;
  }

  .u-section-5 .u-image-3 {
    min-height: 471px;
  }

  .u-section-5 .u-image-4 {
    min-height: 471px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 238px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 238px;
  }

  .u-section-5 .u-image-7 {
    min-height: 471px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2257px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    min-height: 541px;
  }

  .u-section-5 .u-image-4 {
    min-height: 541px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-image-7 {
    min-height: 1082px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2258px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 812px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    min-height: 812px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-7 {
    min-height: 812px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1656px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-3 {
    min-height: 511px;
  }

  .u-section-5 .u-image-4 {
    min-height: 511px;
  }

  .u-section-5 .u-image-7 {
    min-height: 511px;
  }
}